/* CSS HEX */
/* --platinum: #E7E7E7ff;
--black: #030303ff;
--white: #FFFFFFff;
--pear: #C9D541ff;
--gold-metallic: #E4BA4Fff; */

.event-card{
  background-color:#E7E7E7ff;
  border-radius: 5px;
}

.event-icons i {
  color: #E4BA4Fff;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

body, button, input, textarea, select {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
}

.button {
  background-color:rgb(237, 252, 74);
  color: black;
  display: inline-block;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
}

.button-gold{
  background-color: #E4BA4Fff;
  color: white;
  display: inline-block;
  font-weight: bold;
  padding: 14px 24px;
  text-decoration: none;
  border-radius: 5px;
}

.button-outline{
  color: black;
  display: inline-block;
  font-weight: bold;
  padding: 14px 24px;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 5px;
}

input, textarea{
  border: none;
  background-color: #E7E7E7ff;
  border-radius: 10px;
}

textarea{
  max-width: 100%;
  min-width: 100%;
}

iframe{
  width: 100%;
}



input.button {
  border: 0;
  cursor: pointer;
}

.button:hover {
  background-color: orangered;
  color: white;
}

.danger {
  background-color: #c11537;
  color: white;
}

.danger:hover {
  background-color: #920925;
  color: white;
}

.button-form {
  margin-bottom: 16px;
}

.button-form .button {
  text-align: center;
  width: 100%;
}

/* HEADER, NAVIGATION, FOOTER */
.page-header {
  background-color: #fff;
}

.page-footer {
  margin-top: 32px;
  text-align: center;
  background-color: #E7E7E7ff ;
}

.footer-wrapper{
  display: flex;
  padding:42px 5vw;
  align-items: flex-start;
}

.footer-top h2{
  margin:0;
}

.footer-section h4{
  margin:0;
}

.footer-section ul{
  list-style: none;
  text-align: left;
  margin:0 20px;
}

.footer-section ul li{
  margin:10px 0;
}

.footer-section ul li a{
  text-decoration: none;
  color: #030303ff;
}

.footer-top{
  margin-right: auto;
}

.page-header, .page-footer {
  padding: 16px;
}

.desktop-header-row {
  margin: auto;
  width: 100%;
}

.main-content {
  padding: 16px;
}

.mobile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  width: 100px;
  filter:invert(1);
}

.nav-button img {
  width: 100%;
}

.page-navigation {
  display: none;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-links a {
  color: black;
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-top: 16px;
  padding: 8px;
  text-decoration: none;
}

.nav-links a:hover {
  background-color: orangered;
  color: white;
}

.sign-up-btn{
  border-radius: 10px;
  padding:15px 20px !important;
  font-size: 18px !important;

}

.login-btn{
  background-color: gainsboro;
  border-radius: 10px;
  padding:15px 20px !important;
  font-size: 18px !important;



}

/* BOOK LIST */
.book-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
}

.trending-articles{
  background-color: #e7e7e7;
  border-radius: 20px;
}

.book-container {
  margin-top: 32px;
}

.book-card {
  color: black;
  flex: 1;
  margin: 0 auto 32px;
  max-width: 300px;
  padding-top: 16px;
  text-align: center;
  text-decoration: none;
}

.book-card:hover {
  background-color: #eee;
}

.book-image {
  width: 100%;
  object-fit: cover;
}

.book-list .book-image {
  height: 225px;
  width: 225px;
}

.book-price {
  color: crimson;
  font-weight: bold;
}

/* BOOK TABLE */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 4px;
}

.center {
  text-align: center;
}

.image-cell img {
  display: block;
  margin: auto;
  width: 100%;
}

.buttons-cell a {
  display: block;
  margin: 32px auto;
  text-align: center;
}

.basket-controls {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.basket-controls .button-form {
  margin-bottom: 0;
}

/* LOGIN / REGISTER FORMS */
input:not(input.button) {
  margin-bottom: 16px;
  padding: 8px;
  width: 100%;
}

.form .button {
  border: 0;
  cursor: pointer;
  width: 100%;
}

.error {
  background-color: crimson;
  color: white;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

/* ORDERS */
.order-group {
  border: 2px solid black;
  margin-bottom: 32px;
}

.order-group-head {
  border-bottom: 1px solid black;
  padding: 4px 16px;
}

.order-group-meta {
  font-size: 18px;
}

.order-group-row {
  padding: 16px;
  text-align: center;
}

.order-image {
  margin: 0 auto 16px;
  max-width: 60%;
  object-fit: cover;
}

/* FORM */
.inline-inputs {
  display: flex;
  gap: 8px;
}

.inline-inputs input {
  flex: 1;
}

.step-card, .steps-container{
  border: 2px solid #e7e7e7;
}

.contact-info-card{
  background-color: #E7E7E7ff;
  border-radius: 10px;
  height: fit-content;
}

.icon-inline{
  display: flex;
  align-items: center;
}

.event-icons{
  display: flex;
  gap:0 16px;
}



@media screen and (max-width:450px){
  .authentication-container, .contact-form-container, .contact-map-container{
    width: 75vw !important;
    margin-left:20px;
  }

  .mobile-top{
    width: 90vw;
  }

  .logo{
    width: 55px;
  }

  .nav-button{
    width: 55px;
  }

  .contact-submit-button{
    margin-top:10px;
  }

  .contact-map-container{
    margin-top:50px;
  }

  .home-img{
    width: 125px;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
  }

  .home-hero-img1{
    top:155px;
  }

  .home-hero-img2{
    top:475px;
    right: 20px;
    margin-left: auto;
  }

  .index-content h1{
    font-size: 25px;
    margin-top:150px;
    text-align: center;
    margin-left: 8.5vw;
    margin-right: 5vw;
    max-width: 350px;
  }

  .index-content form{
    max-width: 90vw;
  }

  .index-content input{
    height: 40px;
    margin-left:15px;
    font-size: 14px;
  }

  .index-content form div{
    display: flex;
  }

  .index-content input[type=submit]{
    max-width: 65px ;
    margin-left: 15px;
    padding: 5px 10px;
  }

  .steps-container{
    margin-top:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;

  }

  .step-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-width: 2px 0 0 0;
  }

  .step-card div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .step-card p{
    width: 75vw;
  }

  .step-card-img{
    width: 250px;
  }

  .card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .steps-holder{
    margin-top:250px;
  }

  .steps-heading{
    margin-bottom:-250px;
  }

  .benefits-container, .app-container{
    margin-top:150px;
  }

  .benefits-container  .button{
    margin-bottom:30px;
  }
  
  .footer-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-top{
    margin:0;
  }

  .footer-section{
    width: 230px;
    margin:20px 0;
  }

  .contact-info-card{
    padding:5px;
    margin-top:50px;
  }
  
}


@media screen and (min-width: 451px) and (max-width: 726px) {

  .footer-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-top{
    width: 90vw;
  }

  .book-image{
    border-radius: 25px;
  }

  .footer-top{
    margin:0;
  }

  .footer-section{
    width: 230px;
    margin:20px 0;
  }
  
  .articles-section{
    padding:10px 0;
  }

  .contact-submit-button{
    margin-top:10px;
  }

  .contact-map-container{
    margin-top:50px;
  }

  .home-img{
    width: 125px;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
  }

  .home-hero-img1{
    top:115px;
  }

  .home-hero-img2{
    top:475px;
    right: 20px;
    margin-left: auto;
  }

  .index-content h1{
    max-width: 400px ;
    margin-top:150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
  }

  .index-content form{
    max-width: 90vw;
  }

  .index-content input{
    height: 40px;
    margin-left:15vw;
    font-size: 14px;
  }

  .index-content input:not([type=submit]){
    min-width: 225px;
  }

  .index-content form div{
    display: flex;
  }

  .index-content input[type=submit] {
    max-width: 65px;
    margin-left: 15px;
    margin-right: 75px;
    padding: 5px 10px;
  }

  .logo{
    width: 55px;
  }

  .nav-button{
    width: 55px;
  }

  .steps-container{
    margin-top:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:none;

  }

  .step-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-width: 2px 0 0 0;

  }

  .step-card p{
    width: 55vw;
  }

  .step-card-img{
    width: 250px;
  }

  .steps-holder{
    margin-top:250px;
  }

  .card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .steps-heading{
    margin-bottom:-250px;
  }

  .benefits-container, .app-container{
    margin-top:150px;
  }

  .benefits-container  .button{
    margin-bottom:30px;
  }

  .contact-info-card{
    padding:5px;
    margin-top:50px;
  }
}
/* MOBILE AND TABLET */
@media screen and (min-width: 726px) and (max-width: 949px) {
  /* 
    Lets us show elements that may be hidden 
    (i.e., display: none;) on mobile by default, 
    such as the page navigation.
  */



  .mobile-top{
    width: 90vw;
  }

  .main-content{
    padding-left: 0;
    padding-right: 0;

  }
  .show-on-mobile {
    display: block;
  }

  /* DIALOGUE BUTTONS */
  .button-group {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  .button-group > .button {
    flex: 1;
    text-align: center;
  }

  /* TABLE */
  .buttons-cell {
    width: 20%;
  }

  .basket-controls a {
    padding: 12px 36px;
  }
  .articles-hero-container{
    height: 185px;
    overflow: hidden;
  }

  .articles-hero{
    background-color: rgba(180, 180, 180, 0.575);
    display: inline-flex;
    position: relative;
    width: 100%;
  }

  .articles-hero-overlay{
    position:absolute;
    margin:auto;
    top:50px;
    left:0;
    right:0;
    bottom:0;
    text-align: center;

  }

  .articles-hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
  }

  .articles-hero-img-container{
    width:100%;
  }

  .book-list{
    padding:0 25px;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .page-header{
    padding:16px 0;
  }

  .book-card{
    display: flex;
    text-align: left;
    max-width: 500px;
    width: 500px;
    padding: 0;
    
  }

  .book-card .book-image{
    width: 175px;
    height: 175px;
    object-fit: cover;
    margin-right: 5%;
  }

  .nav-button img, .logo{
    width: 50px;
  }

  .articles-buttons-container{
    display: none;
  }

  .article-heading{
    width: 555px;
    margin:0 auto;
    padding-left: 25px;
  }

  .articles-section{
    padding:10px 0;
  }

  .articles-categories-container{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin:40px auto;
    max-width: 1500px;
    
  }

  .articles-categories-container::-webkit-scrollbar{
    display: none;
  }
  

  .article-category-card{
    position: relative;
    background-color: #e7e7e775;
    margin:0 10px;
    border-radius: 25px;

  }

  .article-category-img-container{
    width: 100%;
  }

  .article-category-card .book-image{
    width: 215px;
    height: 175px;
    object-fit: cover;
    position: relative;
    border-radius: 25px;
    z-index: -1;
  }
  

  .article-category-overlay{
    position:absolute;
    width: 50%;
    margin-top:55px;
    margin-left: 52px;
    text-align: center;
  }

  .book-card p {
    width: 150px;
  }

  .book-card h3 {
    width: 150px;
  }


  .authentication-container, .contact-form-container, .contact-map-container{
    width: 60vw;
    margin-left:20px;
  }

  .contact-submit-button{
    margin-top:10px;
  }

  .contact-map-container{
    margin-top:180px;
  }

  .home-img{
    width: 125px;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
  }

  .home-hero-img1{
    top:115px;
    left:20px;
  }

  .home-hero-img2{
    top:425px;
    right: 20px;
    margin-left: auto;
  }

  .index-content{
    max-width: 100vw;
  }

  .index-content h1{
    max-width: 500px;
    margin-top:150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
  }

  .index-content form{
    max-width: 90vw;
  }

  .index-content input{
    height: 40px;
    margin-left:25vw;
    max-width: 800px;
    font-size: 14px;
  }

  .index-content form div{
    display: flex;
  }

  .index-content input[type=submit]{
    max-width: 65px;
    margin-left: 15px;
    margin-right: 180px;
    padding: 5px 10px;
  }

  .index-content input:not([type=submit]){
    min-width: 275px;
    

  }

  .search-form-container{
    margin:0 auto;
  }

   .steps-container{
    margin-top:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;

  }

  .step-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-width: 2px 0 0 0;

  }

  .step-card p{
    width: 45vw;
  }

  .step-card-img{
    width: 250px;
  }

  .steps-holder{
    margin-top:250px;
  }

  .card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .steps-heading{
    margin-bottom:-250px;
  }

  .benefits-container, .app-container{
    margin-top:150px;
  }

  .benefits-container  .button{
    margin-bottom:30px;
  }

  .steps-heading{
    margin-bottom:-250px;
  }

  .img-parent-container{
    position: relative;
    width: 100%;
    top:-250px;
  }

  .contact-form-container{
    display: flex;
    width: 85%;
    margin: 0 auto;
  }

  .contact-info-card{
    width: 100%;
    padding:5px 15px;
    margin:50px 25px 0 50px;
  }

  .contact-map-container{
    width: 95%;
    margin: 50px auto;
  }

}

/* @media screen and (min-width:950px) and (max-width:1600px){
  .step-card p, .step-card h2{
    margin-left: 40px !important;
  }
} */
/* DESKTOP */
@media screen and (min-width: 950px) {

  body, html{
    overflow-x: hidden;
  }

  h1{
    font-size: 48px;
  }

  h2{
    font-size: 32px;
  }

  h3{
    font-size: 24px;
  }

  .button-form .button {
    text-align: center;
    max-width: 250px;
  }

  /* HEADER, NAVIGATION, FOOTER */
  .desktop-header-row {
    width: 90%;
  }


  .main-content {
    padding: 0;
    width: 100vw;
  }

  .desktop-header-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .nav-button {
    display: none;
  }


  .page-navigation {
    display: flex;
    list-style: none;
    gap:0 16px;
  }

  .logo{
    width: 50px;
  }

  .nav-links {
    display: flex;
    align-items: center;
  }

  .nav-links-left{
    margin-right: auto;
  }

  .nav-links a {
    margin-top: 0;
    margin-left: 16px;
  }

  /* BOOK LIST */
  .book-card {
    max-width: 250px;
    text-align: left;
  }

  /* BOOK */
  .book-container {
    display: flex;
    gap: 16px;
  }

  .book-list a{
    margin:0 1%;
  }

  .book-list .book-image {
    height: 13vw;
    width: 13vw;
  }

  .book-list{
    padding:25px 50px;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 95%;
  }

  .article-button{
    position:absolute;
    top:550px;
    left:0;
    right:0;
    font-size: 40px;
  }

  .article-button-left{
    left:50px;
  }

  .article-button-right{
    left:1750px;
  }

  /* TABLES */
  th,
  td {
    padding: 8px;
  }

  .image-cell {
    width: 250px;
  }

  .buttons-cell {
    width: 100px;
  }

  .buttons-cell a {
    margin: 16px auto;
  }

  /* LOGIN / REGISTER FORMS */

  /* 
    On desktop, make form buttons smaller and 
    centred, but only for buttons that are 
    immediate descendents of a form.
  */
  .form > .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .inline-inputs input {
    width: 100px;
  }

  .form-row {
    display: flex;
    gap: 32px;
    justify-content: space-between;
  }

  .form-row div:last-of-type {
    flex: 1;
  }

  /* ORDERS */
  .order-group-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .order-group-meta {
    display: flex;
    gap: 32px;
  }

  .order-price {
    order: 1;
  }

  .order-group-row {
    display: flex;
    align-items: center;
    text-align: left;
  }

  .order-image {
    height: 280px;
    width: 300px;
  }

  .articles-hero-container{
    height: 225px;
    overflow: hidden;
  }

  .articles-hero{
    background-color: rgba(180, 180, 180, 0.575);
    display: inline-flex;
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .articles-hero-overlay{
    position:absolute;
    margin:auto;
    top:75px;
    left:0;
    right:0;
    bottom:0;
    text-align: center;


  }

  .articles-hero-img{
    width: 100%;
    height: 25vw;
    object-fit: cover;
    position: relative;
    z-index: -1;
  }

  .articles-hero-img-container{
    width:100%;
  }

  .book-info p{
    font-size: 13px;
  }

  .book-info h3{
    font-size: 15px;
  }

  .article-heading{
    margin-left:60px;
  }

  .articles-section{
    padding:10px 0;
  }

  .articles-categories-container{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin:40px auto;
    max-width: 1500px;
    
  }

  .articles-categories-container::-webkit-scrollbar{
    display: none;
  }
  

  .article-category-card{
    position: relative;
    background-color: #e7e7e775;
    margin:0 auto;
    border-radius: 25px;

  }

  .article-category-img-container{
    width: 100%;
  }

  .article-category-card .book-image{
    width: 215px;
    height: 175px;
    object-fit: cover;
    position: relative;
    border-radius: 25px;
    z-index: -1;
  }
  

  .article-category-overlay{
    position:absolute;
    width: 50%;
    margin-top:55px;
    margin-left: 50px;
    text-align: center;
  }

  .book-card p {
    width: 150px;
  }

  .book-card h3 {
    width: 150px;
  }
  .contact-form-container{
    display: flex;
    width: 85%;
    margin: 50px auto 0 auto;
  }

  .contact-form-container .button{
    width: 100%;
    padding:15px 0;
  }

  .contact-form-container input:not(input.button){
    padding:15px 0;
  }

  .contact-form-container div:not(.contact-info-card){
    max-width: 650px;
    margin-right: 10vw;
  }

  .contact-info-card{
    width: 80%;
    max-width: 450px;
    padding:5px 15px;
    margin-top: 50px;
    margin-left: auto;
  }

  .contact-map-container{
    width: 85%;
    margin: 50px auto;
  }

  .authentication-container{
    width: 35vw;
    margin-left:20px;
  }

  .contact-submit-button{
    margin-top:10px;
  }

  .home-img{
    width: 200px;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
  }

  .home-hero-img1{
    top:115px;
    left:20px;
  }

  .home-hero-img2{
    top:425px;
    right: 50px;
    margin-left: auto;
  }

  .index-content{
    max-width: 100vw;
  }

  .index-content h1{
    max-width: 500px;
    margin-top:150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
  }

  .index-content form{
    max-width: 90vw;
  }

  .index-content input{
    height: 45px;
    margin-left:25vw;
    max-width: 800px;
    font-size: 14px;
  }

  .index-content form div{
    display: flex;
  }

  .index-content input[type=submit]{
    max-width: 95px;
    margin-left: 15px;
    margin-right: 180px;
    padding: 5px 10px;
  }

  .index-content input:not([type=submit]){
    min-width: 275px;
    

  }

  .search-form-container{
    margin:0 auto;
  }

  .steps-container{
    margin: 250px auto 0 auto;
    overflow-y: hidden;
    display: grid; /* grid containers */
    grid-template-columns: repeat(3, 1fr); /* three columns */
    grid-template-rows: repeat(1, 1fr); /* one rows */
    grid-auto-flow: column; /* in column direction */
    max-width: 1500px;
    border-width: 2px 0 2px 0 !important;

  }

  .step-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-width: 0 2px 0 0 !important;
    padding:0 35px 0 35px;
  }


  .step-card img{
    margin:0 auto;
  }

  .step-three{
    border-width: 0 0 0 0 !important;

  }

  .step-card p{
    max-width: 250px;
  }

  .step-card-img{
    width: 250px;
  }

  .steps-holder{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top:250px;
  }

  .benefits-container .steps-container{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .benefits-container .steps-container .step-card{
    flex-direction: row;
    border-width: 2px 0 0 0 !important;
  }

  .benefits-container .steps-container .step-one{
    flex-direction: row;
    border-width: 0 !important;
  }

  .benefits-container .steps-container .step-card div{
    margin:0 auto 0 300px;
    width: 350px;
  }

  .benefits-container .steps-container .step-card div h2{
    max-width: 100%;
  }

  .benefits-container{
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .benefits-container .button{
    margin:0 auto;
  }

  .steps-heading{
    margin-bottom:-250px;
    position: relative;
    margin: 0 auto -250px auto;
    right: 375px;
  }

  .steps-holder .steps-heading{
    right: 355px;
  }

  .benefits-container .steps-container h2{
    max-width: 250px;
  }

  .img-parent-container{
    position: relative;
    width: 100%;
    top:-150px;
  }

  .app-container{
    display: flex;
    flex-direction: column;
  }

  .app-container .steps-container{
    border-width: 2px 0 0 0 !important;
    grid-template-columns: repeat(1, 1fr);

  }

  .app-container .steps-container .step-card div{
    margin:0 330px 0 auto;
    position: relative;
    right: 32px;

  }

  .app-container .steps-container h2{
    max-width: 320px;
  }

  .app-container .steps-container p{
    max-width: 320px;
  }

  .app-container .step-card{
    border-width: 0 !important;
    flex-direction: row-reverse;

  }

  .discover-steps{
    margin-top:0;
  }

  .discover-steps .steps-container{
    width: 1600px;
    max-width: 1600px;
    margin-top: 150px;
  }

  .discover-steps .step-card{
    text-align: center;
    align-items: center;
  }

  .discover-steps .step-card p{
    max-width: 350px;
  }

  .discover-steps .step-card img{
    width: 275px;
  }

  .discover-steps .step-two img{
    width: 375px;
  }

  .event-img{
    width: 345px;
    height: 205px;
    object-fit: cover;
  }

  .event-card{
    display: inline-block;
    padding:10px;
  }

  .event-card p {
    font-size: 14px;
  }

  .event-card h3{
   margin: 0;
  }

  .event-card-text{
    margin: 10px 0 25px 8px;
  }

  .event-card-buttons{
    margin-left: 8px;
  }

  .event-card i{
    font-size: 20px;
    margin-right: 10px;
  }

  .event-icons p{
    font-size: 12px;
  }

  .event-card .button-gold{
    font-size: 12px;

  }

  .event-card .button-outline{
    margin-left: 20px;
    font-size: 12px;
  }

  .event-icons :nth-child(1){
    margin-left: 5px;
  }

  .event-icons :nth-child(2){
   margin-right: 25px;
  }

  .event-card h3, .event-card p{
    max-width: 450px;
  }

  .discover-content{
    margin: 75px auto 0 auto;
    position: relative;
    width: 1600px;
    max-width: 1600px;
    display: flex;
    align-items: center;
  }
  .discover-content-img{
    width: 255px;
    margin-left: auto;
    margin-right: 175px;
  }

  .discover-content h1{
    margin:0;
  }
  .discover-content p{
    margin: 5px 0;
    max-width: 450px;
  }

  .recent-events-container{
    display: flex;
    justify-content: center;
    gap:0 45px;
  }

  .events-container h3{
    margin:35px auto;
    max-width: 1600px;
  }
  
}