/* CSS HEX */
/* --platinum: #E7E7E7ff;
--black: #030303ff;
--white: #FFFFFFff;
--pear: #C9D541ff;
--gold-metallic: #E4BA4Fff; */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body, button, input, textarea, select {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
}

.button {
  background-color:rgb(237, 252, 74);
  color: black;
  display: inline-block;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
}

input, textarea{
  border: none;
  background-color: #E7E7E7ff;
  border-radius: 10px;
}

textarea{
  max-width: 100%;
  min-width: 100%;
}

iframe{
  width: 100%;
}



input.button {
  border: 0;
  cursor: pointer;
}

.button:hover {
  background-color: orangered;
  color: white;
}

.danger {
  background-color: #c11537;
  color: white;
}

.danger:hover {
  background-color: #920925;
  color: white;
}

.button-form {
  margin-bottom: 16px;
}

.button-form .button {
  text-align: center;
  width: 100%;
}

/* HEADER, NAVIGATION, FOOTER */
.page-header {
  background-color: #fff;
}

.page-footer {
  margin-top: 32px;
  text-align: center;
  background-color: #E7E7E7ff ;
}

.footer-wrapper{
  display: flex;
  padding:42px 5vw;
  align-items: flex-start;
}

.footer-top h2{
  margin:0;
}

.footer-section h4{
  margin:0;
}

.footer-section ul{
  list-style: none;
  text-align: left;
  margin:0 20px;
}

.footer-section ul li{
  margin:10px 0;
}

.footer-section ul li a{
  text-decoration: none;
  color: #030303ff;
}

.footer-top{
  margin-right: auto;
}

.page-header, .page-footer {
  padding: 16px;
}

.desktop-header-row {
  margin: auto;
  width: 100%;
}

.main-content {
  padding: 16px;
}

.mobile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  width: 100px;
  filter:invert(1);
}

.nav-button img {
  width: 100%;
}

.page-navigation {
  display: none;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-links a {
  color: black;
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-top: 16px;
  padding: 8px;
  text-decoration: none;
}

.nav-links a:hover {
  background-color: orangered;
  color: white;
}

.sign-up-btn{
  border-radius: 10px;
  padding:15px 20px !important;
  font-size: 18px !important;

}

.login-btn{
  background-color: gainsboro;
  border-radius: 10px;
  padding:15px 20px !important;
  font-size: 18px !important;



}

/* BOOK LIST */
.book-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
}

.trending-articles{
  background-color: #e7e7e7;
  border-radius: 20px;
}

.book-container {
  margin-top: 32px;
}

.book-card {
  color: black;
  flex: 1;
  margin: 0 auto 32px;
  max-width: 300px;
  padding-top: 16px;
  text-align: center;
  text-decoration: none;
}

.book-card:hover {
  background-color: #eee;
}

.book-image {
  width: 100%;
  object-fit: cover;
}

.book-list .book-image {
  height: 225px;
  width: 225px;
}

.book-price {
  color: crimson;
  font-weight: bold;
}

/* BOOK TABLE */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 4px;
}

.center {
  text-align: center;
}

.image-cell img {
  display: block;
  margin: auto;
  width: 100%;
}

.buttons-cell a {
  display: block;
  margin: 32px auto;
  text-align: center;
}

.basket-controls {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.basket-controls .button-form {
  margin-bottom: 0;
}

/* LOGIN / REGISTER FORMS */
input:not(input.button) {
  margin-bottom: 16px;
  padding: 8px;
  width: 100%;
}

.form .button {
  border: 0;
  cursor: pointer;
  width: 100%;
}

.error {
  background-color: crimson;
  color: white;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

/* ORDERS */
.order-group {
  border: 2px solid black;
  margin-bottom: 32px;
}

.order-group-head {
  border-bottom: 1px solid black;
  padding: 4px 16px;
}

.order-group-meta {
  font-size: 18px;
}

.order-group-row {
  padding: 16px;
  text-align: center;
}

.order-image {
  margin: 0 auto 16px;
  max-width: 60%;
  object-fit: cover;
}

/* FORM */
.inline-inputs {
  display: flex;
  gap: 8px;
}

.inline-inputs input {
  flex: 1;
}

@media screen and (max-width:450px){
  .authentication-container, .contact-form-container, .contact-map-container{
    width: 75vw !important;
    margin-left:20px;
  }

  .mobile-top{
    width: 90vw;
  }

  .contact-submit-button{
    margin-top:10px;
  }

  .contact-map-container{
    margin-top:180px;
  }

  .home-img{
    width: 125px;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
  }

  .home-hero-img1{
    top:115px;
  }

  .home-hero-img2{
    top:425px;
    right: 50px;
    margin-left: auto;
  }

  .index-content{
    max-width: 100vw;
  }

  .index-content h1{
    font-size: 20px;
    margin-top:150px;
    width: 65%;
    text-align: center;
    margin-left: 8.5vw;
    margin-right: 5vw;
  }

  .index-content form{
    max-width: 90vw;
  }

  .index-content input{
    max-width: 45vw;
    height: 40px;
    margin: 0 0 0 50px;
    margin-right: 0;
  }

  .index-content form div{
    display: flex;
  }

  .index-content input[type=submit]{
    max-width: 95px;
    margin-right: 15vw;
    margin-left: 15px;
  }
  
}


@media screen and (max-width:725px)
{
  .footer-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .book-image{
    border-radius: 25px;
  }

  .footer-top{
    margin:0;
  }

  .footer-section{
    width: 230px;
    margin:20px 0;
  }
  
  .articles-section{
    padding:10px 0;
  }

  .contact-submit-button{
    margin-top:10px;
  }

  .contact-map-container{
    margin-top:180px;
  }
}
/* MOBILE AND TABLET */
@media screen and (max-width: 949px) {
  /* 
    Lets us show elements that may be hidden 
    (i.e., display: none;) on mobile by default, 
    such as the page navigation.
  */

  body, html{
    overflow-x: hidden;
  }

  .main-content{
    padding-left: 0;
    padding-right: 0;

  }
  .show-on-mobile {
    display: block;
  }

  /* DIALOGUE BUTTONS */
  .button-group {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  .button-group > .button {
    flex: 1;
    text-align: center;
  }

  /* TABLE */
  .buttons-cell {
    width: 20%;
  }

  .basket-controls a {
    padding: 12px 36px;
  }
  .articles-hero-container{
    height: 185px;
    overflow: hidden;
  }

  .articles-hero{
    background-color: rgba(180, 180, 180, 0.575);
    display: inline-flex;
    position: relative;
    width: 100%;
  }

  .articles-hero-overlay{
    position:absolute;
    margin:auto;
    top:50px;
    left:0;
    right:0;
    bottom:0;
    text-align: center;

  }

  .articles-hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
  }

  .articles-hero-img-container{
    width:100%;
  }

  .book-list{
    padding:0 25px;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .page-header{
    padding:16px 0;
  }

  .book-card{
    display: flex;
    text-align: left;
    max-width: 500px;
    width: 500px;
    padding: 0;
    
  }

  .book-card .book-image{
    width: 175px;
    height: 175px;
    object-fit: cover;
    margin-right: 5%;
  }

  .nav-button img, .logo{
    width: 50px;
  }

  .articles-buttons-container{
    display: none;
  }

  .article-heading{
    width: 555px;
    margin:0 auto;
    padding-left: 25px;
  }

  .articles-section{
    padding:10px 0;
  }

  .articles-categories-container{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin:40px auto;
    max-width: 1500px;
    
  }

  .articles-categories-container::-webkit-scrollbar{
    display: none;
  }
  

  .article-category-card{
    position: relative;
    background-color: #e7e7e775;
    margin:0 10px;
    border-radius: 25px;

  }

  .article-category-img-container{
    width: 100%;
  }

  .article-category-card .book-image{
    width: 215px;
    height: 175px;
    object-fit: cover;
    position: relative;
    border-radius: 25px;
    z-index: -1;
  }
  

  .article-category-overlay{
    position:absolute;
    width: 50%;
    margin-top:55px;
    margin-left: 52px;
    text-align: center;
  }

  .book-card p {
    width: 150px;
  }

  .book-card h3 {
    width: 150px;
  }


  .authentication-container, .contact-form-container, .contact-map-container{
    width: 60vw;
    margin-left:20px;
  }

  .contact-submit-button{
    margin-top:10px;
  }

  .contact-map-container{
    margin-top:180px;
  }


}

/* DESKTOP */
@media screen and (min-width: 950px) {

  body, html{
    overflow-x: hidden;
  }

  .button-form .button {
    text-align: center;
    max-width: 250px;
  }

  /* HEADER, NAVIGATION, FOOTER */
  .desktop-header-row {
    width: 90%;
  }


  .main-content {
    padding: 0;
    width: 100vw;
  }

  .desktop-header-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .nav-button {
    display: none;
  }


  .page-navigation {
    display: flex;
    list-style: none;
    gap:0 16px;
  }

  .logo{
    width: 50px;
  }

  .nav-links {
    display: flex;
    align-items: center;
  }

  .nav-links-left{
    margin-right: auto;
  }

  .nav-links a {
    margin-top: 0;
    margin-left: 16px;
  }

  /* BOOK LIST */
  .book-card {
    max-width: 250px;
    text-align: left;
  }

  /* BOOK */
  .book-container {
    display: flex;
    gap: 16px;
  }

  .book-list a{
    margin:0 1%;
  }

  .book-list .book-image {
    height: 13vw;
    width: 13vw;
  }

  .book-list{
    padding:25px 50px;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 95%;
  }

  .article-button{
    position:absolute;
    top:550px;
    left:0;
    right:0;
    font-size: 40px;
  }

  .article-button-left{
    left:50px;
  }

  .article-button-right{
    left:1750px;
  }

  /* TABLES */
  th,
  td {
    padding: 8px;
  }

  .image-cell {
    width: 250px;
  }

  .buttons-cell {
    width: 100px;
  }

  .buttons-cell a {
    margin: 16px auto;
  }

  /* LOGIN / REGISTER FORMS */

  /* 
    On desktop, make form buttons smaller and 
    centred, but only for buttons that are 
    immediate descendents of a form.
  */
  .form > .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .inline-inputs input {
    width: 100px;
  }

  .form-row {
    display: flex;
    gap: 32px;
    justify-content: space-between;
  }

  .form-row div:last-of-type {
    flex: 1;
  }

  /* ORDERS */
  .order-group-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .order-group-meta {
    display: flex;
    gap: 32px;
  }

  .order-price {
    order: 1;
  }

  .order-group-row {
    display: flex;
    align-items: center;
    text-align: left;
  }

  .order-image {
    height: 280px;
    width: 300px;
  }

  .articles-hero-container{
    height: 225px;
    overflow: hidden;
  }

  .articles-hero{
    background-color: rgba(180, 180, 180, 0.575);
    display: inline-flex;
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .articles-hero-overlay{
    position:absolute;
    margin:auto;
    top:75px;
    left:0;
    right:0;
    bottom:0;
    text-align: center;


  }

  .articles-hero-img{
    width: 100%;
    height: 25vw;
    object-fit: cover;
    position: relative;
    z-index: -1;
  }

  .articles-hero-img-container{
    width:100%;
  }

  .book-info p{
    font-size: 13px;
  }

  .book-info h3{
    font-size: 15px;
  }

  .article-heading{
    margin-left:60px;
  }

  .articles-section{
    padding:10px 0;
  }

  .articles-categories-container{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin:40px auto;
    max-width: 1500px;
    
  }

  .articles-categories-container::-webkit-scrollbar{
    display: none;
  }
  

  .article-category-card{
    position: relative;
    background-color: #e7e7e775;
    margin:0 auto;
    border-radius: 25px;

  }

  .article-category-img-container{
    width: 100%;
  }

  .article-category-card .book-image{
    width: 215px;
    height: 175px;
    object-fit: cover;
    position: relative;
    border-radius: 25px;
    z-index: -1;
  }
  

  .article-category-overlay{
    position:absolute;
    width: 50%;
    margin-top:55px;
    margin-left: 50px;
    text-align: center;
  }

  .book-card p {
    width: 150px;
  }

  .book-card h3 {
    width: 150px;
  }

  .authentication-container, .contact-form-container, .contact-map-container{
    width: 35vw;
    margin-left:20px;
  }

  .contact-submit-button{
    margin-top:10px;
  }

  .contact-map-container{
    margin-top:180px;
    margin-left: auto;
    margin-right: auto;
    width: 96vw;
  }
}